llama-index 
llama-index-core 
llama-index-embeddings-openai 
llama-index-llms-openai 
llama-parse
nest_asyncio
trulens 
trulens-apps-llamaindex 
trulens-providers-openai 
openai
xlsxwriter
streamlit
pandas 
openpyxl
langchain-nomic 
langchain_community 
tiktoken 
langchainhub 
chromadb 
langchain 
langgraph 
tavily-python 
gpt4all 
fastembed 
langchain-groq
beautifulsoup4
pypdf
pymupdf
datasets
langchain_ollama
gradio
validators
llama-index-llms-langchain
langchain_openai
google-generativeai
langchain-google-genai
llama-index-vector-stores-chroma
langchain-openai
trulens-apps-langchain
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-utils-workflow
python-docx
psutil
